  </main>
  <div class="missingscroll_replacer"></div>
  <aside>
    <div class="sidemenu">
      <div class="sidemenu_contentwrap">
        <a href="/" class="anchor_sidemenu hovergreenbtn">Home</a>
        <a href="/profile" class="anchor_sidemenu hovergreenbtn">Profile</a>
        <a href="/" class="anchor_sidemenu hovergreenbtn">Setting</a>
      </div>
    </div>
  </aside>
</div>
<!-- div.bodycontent_wrap -->
<dialog id="mainDialog">
</dialog>
</body>

</html>