<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./main.css">
  <% if(title == 'login' || title == 'register') { %>
    <link rel="stylesheet" href="./login_register.css">
    <% } else if(title == 'profile') { %>
    <link rel="stylesheet" href="./profile.css">
  <% } %>
  <title><%= title %></title>
  <script type="text/javascript" src="./main.js" defer></script>
</head>

<body class="bgcolor_gra_green">
  <div class="bodycontent_wrap">
    <%- include('navigation', {info: info}) %>
    <main class="main1">