<%- include('header', {title: 'profile' }) %>
  <div class="profile_card">
    <div class="userbasicinfo">
      <div class="ubi_picture">
        <img src="images/vecteezy_user-avatar-line-style_.jpg" alt="test profile image" class="profile_picture">
      </div>
      <div class="ubi_others">
        <h1>User Name</h1>
        <img src="images/whatsapp.svg" alt="wa_icon" class="wa_icon">
        <p class="userphonenumber">0812 1387 1033</p>
      </div>
    </div>
    <hr class="hr_1">
    <div class="centerbodycover">
      <h3>Rent History:</h3>
      <div class="renthistory_overflow">
        <div class="renthistory_wrap">
          <div class="1 renthistory_card clicktohousepage">
            <div class="rcardchild">
              <img src="images/houseimage.png" alt="rented house" class="renthistory_houseimage houseimg_bor_radius">
            </div>
            <div class="rcardchild">
              <p>house name / owner</p>
              <p>0812 1387 1033</p>
              <p>rent duration</p>
              <p>Rp. 400.000</p>
            </div>
          </div>
          <div class="2 renthistory_card clicktohousepage">
            <div class="rcardchild">
              <img src="images/houseimage.png" alt="rented house" class="renthistory_houseimage houseimg_bor_radius">
            </div>
            <div class="rcardchild">
              <p>house name / owner</p>
              <p>0812 1387 1033</p>
              <p>rent duration</p>
              <p>Rp. 400.000</p>
            </div>
          </div>
          <div class="3 renthistory_card clicktohousepage">
            <div class="rcardchild">
              <img src="images/houseimage.png" alt="rented house" class="renthistory_houseimage houseimg_bor_radius">
            </div>
            <div class="rcardchild">
              <p>house name / owner</p>
              <p>0812 1387 1033</p>
              <p>rent duration</p>
              <p>Rp. 400.000</p>
            </div>
          </div>
          <div class="4 renthistory_card clicktohousepage">
            <div class="rcardchild">
              <img src="images/houseimage.png" alt="rented house" class="renthistory_houseimage houseimg_bor_radius">
            </div>
            <div class="rcardchild">
              <p>house name / owner</p>
              <p>0812 1387 1033</p>
              <p>rent duration</p>
              <p>Rp. 400.000</p>
            </div>
          </div>
          <div class="5 renthistory_card clicktohousepage">
            <div class="rcardchild">
              <img src="images/houseimage.png" alt="rented house" class="renthistory_houseimage houseimg_bor_radius">
            </div>
            <div class="rcardchild">
              <p>house name / owner</p>
              <p>0812 1387 1033</p>
              <p>rent duration</p>
              <p>Rp. 400.000</p>
            </div>
          </div>
          <div class="6 renthistory_card clicktohousepage">
            <div class="rcardchild">
              <img src="images/houseimage.png" alt="rented house" class="renthistory_houseimage houseimg_bor_radius">
            </div>
            <div class="rcardchild">
              <p>house name / owner</p>
              <p>0812 1387 1033</p>
              <p>rent duration</p>
              <p>Rp. 400.000</p>
            </div>
          </div>
        </div>
      </div>
      <!-- see whatever usualy appear (features) on an airbnb site -->
      <p>recent pictures</p>
      <p>user rooms to rent</p>
    </div>
  </div>
<%- include('footer') %>